@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Тестовое задание СИБИНТЕК</h2>
    <p>Возможности:</p>
    <p><a href="@Url.Action("LoadData", "Home")">Загрузить данные с сайта torgi.gov.ru</a> - после получения данных с сайта, происходит их парсинг и добавление в БД</p>
    <p><a href="@Url.Action("GetData", "Home")">Просмотр данных</a> - просмотр БД, в которую загружается информация после получения данных и парсинга</p>
    <p>На странице просмотра данных, при нажатии на номер извещания откроется его полная детализация</p>
</div>
